@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Manrope:wght@400;500;700;800&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #ffffff;
}

.app {
  min-height: 100vh;
  background: url('https://i.imgur.com/2qCWyY9.jpg.com/KriuVEX.jpg') no-repeat fixed;
  background-size: 400px;
  background-position-x: right;
  background-position-y: bottom;
}

.sidebar {
  box-sizing: border-box;
  position: fixed;
  padding: 30px;
  height: 100%;
  width: 20%;
  font-size: 18px;
  background: #eeeeee;
  color: #000000;
}

.sidebar a {
  padding: 8px 5px;
  display: block;
  font-weight: bold;
  color: #000000;
}

.sidebar a:hover {
  color: #999999;
}

.sidebar img {
  margin-right: 6px;
  width: 18px;
  height: 18px;
}

.dashboard {
  margin-left: 20%;
  padding: 30px;
  width: 60%;
  min-width: 600px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  font-size: 40px;
  /* font-weight: 800; */
  /* text-shadow: 2px 2px 4px rgba(0,0,0,0.12); */
}

.title a:hover {
  text-decoration: none;
}

/* ADDED NOTIFICATION */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.added, .added-item {
  display: none;
  margin-left: 8px;
  color: #98af10
}

.slide-in {
  animation: fade-in 1s ease alternate infinite;
}

/* GRAPHS */

.graphAnalytics{
  padding-top: 5%;
  margin-left: 30%;
  height: 800px;
  width: 800px;
}

/* FORMS */

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}