@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
}

/* LARGE COMPONENTS */

.sidebar {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: auto;
  padding: 20px;
  background-color: #a9cbd6;
  font-size: 18px;
}

.sidebar a {
  display: block;
  color: black;
  font-weight: bold;
}

.sidebar a:hover {
  color: white;
}

.sidebarlink {
  text-decoration: none
}

.dashboard {
  margin-left: 250px;
  padding: 50px;
}

/* DATE SLIDER */

.date-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: olivedrab;
  color: white;
}

.date-header h1 {
  margin: 0;
}

.back, .next {
  font-size: 25px;
  font-weight: bolder;
}

/* MEALS OVERVIEW */
.meal h3 {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px;
  border-bottom: solid 1px #999999;
  background-color: olivedrab;
  color: #ffffff;
}

.meal {
  margin: 20px 0;
  border: 1px solid #999999;
}

.total-kcal {
  text-align: right;
  padding: 10px;
  background-color: olivedrab;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.kcal {
  float: right;
  margin-top: 6px;
  font-size: 14px;
  color: olivedrab;
}

.meal-item {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  border-bottom: solid 1px #999999;
  font-size: 14px;
  background-color: #fafafa;
}

.meal-item-details {
  color: #555555;
}

.add-btn {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.add-btn:hover {
  background-color: #dddddd;
}

.add-btn:focus {
  outline: none;
}

/* SEARCH ITEM POP-UP */

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}

.hidden {
  visibility: hidden;
}

.popup-inner {  
  position: absolute;  
  left: 20%;  
  right: 20%;  
  top: 20%;  
  bottom: 20%;  
  margin: auto;
  background-color: white;
  overflow-x: scroll;
}

.popup-content {
  padding: 5px 20px 20px;
}

.popup-content h3 {
  margin: 0;
  border: 0;
}

.search-container {
  display: flex;
  padding: 8px;
  border: 1px solid #eeeeee;
}

.searchbar {
  box-sizing: border-box;
  flex: 1;
  border: 0;
  font-size: 15px;
}

.searchbar:focus {
  outline: none;
}

.search-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.result-item {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.item-btn {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  border: none;
}

.item-btn:hover {
  background-color: #eeeeee;
}

.item-content {
  padding: 10px;
  display: none;
  font-size: 14px;
  background-color: #eeeeee;
  color: #555555;
}

.qty-input {
  width: 15px;
  font-size: 14px;
}

.active {
  display: block;
}

.add-item-btn {
  cursor: pointer;
  margin-left: 8px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: olivedrab;
  color: white;
}

.add-item-btn:focus {
  outline: none;
}

.add-item-btn:hover {
  background-color: #4f691a;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.added {
  display: none;
  margin-left: 8px;
  color: olivedrab;
}

.slide-in {
  animation: fade-in 1s ease alternate infinite;
}

.close-popup {
  display: block;
  cursor: pointer;
  padding: 8px 8px 0 0;
  text-align: right;
  font-weight: bold;
}

/* CALORIE PROGRESS BAR */

.kcal-bar {
  width: 100%;
  margin: 30px 0;
}

#progress-bar {
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 50px;
  border: 1px solid #999999;
  text-align: center;
  font-weight: bold;
  background-color: #a9cbd6;
}

#filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  max-width: 100%;
  background-color: cadetblue;
}

.kcal-text {
  position: absolute;
  top: 25%;
  margin: 0;
  width: 100%;
  height: 100%;
  color: white;
}

/* Analytics Component */

.graphAnalytics{
  padding-top: 5%;
  margin-left: 30%;
  height: 800px;
  width: 800px;
}