body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.sidebar {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  width: 250px;
  overflow: auto;
  padding: 20px;
  background-color: skyblue;
  font-size: 18px;
}

.sidebar a {
  display: block;
  color: black;
  font-weight: bold;
}

.sidebar a:hover {
  color: white;
}

.dashboard {
  margin-left: 250px;
  padding: 50px;
}

.date-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: olivedrab;
  color: white;
}

.date-header h1 {
  margin: 0;
}

.back, .next {
  font-size: 25px;
  font-weight: bolder;
}

.overview-box h3 {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 8px 0;
  border-bottom: solid 1px #999999;
}

.add-btn {
  cursor: pointer;
  padding: 10px;
  width: 100%;
  background-color: #eeeeee;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.add-btn:hover {
  background-color: #dddddd;
}

.add-btn:focus {
  outline: none;
}

.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}

.hidden {
  visibility: hidden;
}

.popup-inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;
  background-color: white;  
}

.popup-content {
  padding: 5px 20px 20px;
}

.popup-content h3 {
  margin: 0;
  border: 0;
}

.search-container {
  display: flex;
  padding: 8px;
  border: 1px solid #dddddd;
}

.searchbar {
  box-sizing: border-box;
  flex: 1;
  border: 0;
  font-size: 15px;
}

.searchbar:focus {
  outline: none;
}

.search-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.close-popup {
  display: block;
  cursor: pointer;
  padding: 8px 8px 0 0;
  text-align: right;
  font-weight: bold;
}