.dateslider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #98af10;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.45);
}

.dateslider h1 {
  margin: 0;
}

.today {
  margin-left: -30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.45);
}

.today img {
  margin-top: -2px;
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
  filter: invert(1);
  box-shadow: 2px 2px 4px rgba(255,255,255,0.45);
}

.back, .next {
  max-width: 25px;
  max-height: 25px;
  filter: invert(1);
}