.kcal-bar {
  width: 100%;
  margin: 25px 0 10px;
}

#progress-bar {
  box-sizing: border-box;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 50px;
  text-align: center;
  font-weight: bold;
  background-color: #d09294;
}

#filler {
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
  max-width: 100%;
  background-color: #c63e42;
}

.kcal-text {
  position: absolute;
  top: 25%;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: white;
}

.macros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
  font-weight: 700;
}

.protein, .carbs, .fat {
  text-align: center;
}

.protein {
  color: #386285;
}

.carbs {
  color: #efca08;
}

.fat {
  color: #ba0d2f;
}