.meal h3 {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #98af10;
  color: #ffffff;
}

.meal {
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.45);
}

.item {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  border-bottom: solid 1px #f8f8f8;
  background-color: #ffffff;
}

.meal-item {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}

.meal-item-details {
  margin-left: 5px;
  font-size: 12px;
  color: #555555;
}

.total-kcal {
  text-align: right;
  padding: 10px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.kcal {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 14px;
  color: #98af10;
}

.macro-details {
  margin-right: 8px;
  font-size: 12px;
}

.dot {
  margin: 2px 2px 2px 0;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
}

.dot.protein {
  background-color: #386285;

}

.dot.carbs {
  background-color: #efca08;

}

.dot.fat {
  background-color: #ba0d2f;

}

.add-btn {
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  background-color: #f8f8f8;
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.add-btn:hover {
  background-color: #eeeeee;
}

.add-btn:focus {
  outline: none;
}

.remove-btn {
  width: 15px;
  height: 15px;
}

.remove-btn:hover {
  background-color: #ff6d6d;
  border-radius: 50px;
}

.remove-btn:focus {
  outline: none;
}