.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}

.popup-inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 20%;  
  bottom: 20%;  
  margin: auto;
  background-color: white;
  overflow-y: scroll;
}

.popup-content {
  padding: 0 25px 20px;
}

.popup-content h2 {
  margin: 20px 0 15px;
  padding-left: 5px;
  font-size: 18px;
}

.search-container {
  display: flex;
  padding: 8px;
  border: 1px solid #eeeeee;
}

.searchbar {
  box-sizing: border-box;
  flex: 1;
  border: 0;
  font-size: 15px;
}

.searchbar:focus {
  outline: none;
}

.search-icon {
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.search-icon:focus {
  outline-color: #98af10;
}

.item-btn {
  cursor: pointer;
  padding: 12px 10px;
  width: 100%;
  font-size: 15px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #dddddd;
}

.item-btn:hover {
  background-color: #f4f4f4;
}

.item-btn:focus {
  outline: none;
}

.item-content {
  padding: 10px;
  display: none;
  font-size: 14px;
  background-color: #f4f4f4;
  color: #555555;
}

.item-content label {
  font-weight: 500;
}

.qty-input {
  margin-right: 5px;
  text-align: right;
  width: 23px;
  font-size: 14px;
}

.qty-input:focus {
  outline: none;
}

.expanded {
  display: block;
}

.add-item-btn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #98af10;
  border: none;
  border-radius: 5px;
  color: white;
}

.add-item-btn:focus {
  outline: none;
}

.add-item-btn:hover {
  background-color: #98af10;
}

.added-msg {
  margin-left: 10px;
  color: #98af10
}

.no-results {
  display: block;
  padding: 10px;
}

.close-popup {
  cursor: pointer;
  position: fixed;
  right: 25%;
  margin: 10px 20px;
  width: 18px;
  height: 18px;
  font-weight: bold;
}

.close-popup:focus {
  outline: none;
}