.userWrapper {
  margin: 10px 0;
  font-size: 16px;
  padding: 10px;
  border-radius: 15px;
  background-color: #ffffff;
}

.welcome {
  border-bottom: 1px dotted #000000;
  font-size: 22px;
}

.name {
  font-weight: bold;
}

.adjust-btn {
  float: right;
  margin-top: 2px;
  width: 18px;
  height: 18px;
}

.adjust-btn:hover {
  filter: invert(50%);
}

.adjust-btn:focus {
  outline: none;
}

.add-weight-btn {
  padding: 5px;
  border: none;
  font-size: 12px;
  background-color: olivedrab;
}