.welcome {
  margin-bottom: 5px;
  padding: 0 15px;
  text-align: center;
  font-size: 22px;
}

.user img {
  margin-bottom: 5px;
  padding: 10px 50px;
  width: 100%;
  height: 100%;
}

.userinfo {
  font-size: 14px;
  padding: 5px 15px;
  color: #555555;
}

.user-item {
  padding: 6px 0;
}

.name {
  font-weight: bold;
}

.adjust-btn {
  float: right;
  margin-top: 2px;
  width: 18px;
  height: 18px;
}

.adjust-btn:hover {
  filter: invert(50%);
}

.adjust-btn:focus {
  outline: none;
}

#weight-field {
  display: inline;
}

.weight-input {
  margin-left: 5px;
  text-align: right;
  width: 45px;
  font-size: 12px;
}

.weight-msg {
  margin: 0 0 5px;
  display: none;
  color: #c63e42;
}

.add-weight-btn {
  cursor: pointer;
  margin-left: 10px;
  padding: 3px 6px;
  font-size: 12px;
  background-color: #98af10;
  border: none;
  border-radius: 5px;
  color: white;
}

.add-weight-btn:focus {
  outline: none;
}

.add-weight-btn:hover {
  background-color: #98af10;
}